<div id="container" >
<p id="notice"><%= notice %></p>
<div id="tables">
<div class="show-field">

  <u><strong>Kopieransicht</strong></br></u>
  </br>

<table >
  <tbody>

  <td colspan="2"><u><strong><font size="5">Datum:</strong></u>
  <%= @meeting.date.strftime("%d.%m.%y") %> [<%= @meeting.time_of_meeting %>]</font></td>
  <tr>

  <td colspan="2" id="show-header"><u><strong>Name</strong></u>
  <tr>

  <td colspan="2"><%= @meeting.meeting_name %></td>
  <tr>

  <td colspan="2" id="show-header" ><u><strong>Teilnehmer</strong></u>
  <tr>
  <% if @meeting.contact.contact_name.blank? %>
  <td colspan="2"><%= "nicht vergeben" %></td>
  <% else %>
  <td colspan="2"><%= @meeting.contact.contact_name %></td>
  <% end %>

  <tr>
  <td colspan="2" id="show-header"><u><strong>Information</strong></u></td>
  <tr>
  <td colspan="2"><%= @meeting.description %></td>
  <tr>
  <td colspan="2" id="show-header" ><u><strong>Status</strong></u>
  <tr>
  <% if !@meeting.completed_at.blank? %>
  <td colspan="2"><%= "abgeschlossen am " %><%=  @meeting.completed_at %></td>
  <% elsif Time.now.to_formatted_s(:number) > @meeting.date.to_formatted_s(:number) %>
    <td colspan="2"><%= "ausgelaufen am " %><%=  @meeting.date %></td>
  <% else %>
    <td colspan="2"><%= "Verbleibende Zeit " %><%=  @meeting.remaining_time %></td>
  <% end %>

  </tbody>
</table>

</br>
</br>

<%= link_to 'Editieren', edit_meeting_path(@meeting) %> |
<%= link_to 'Zurück', "/meetings" %>
    </div>
  </div>
</div>
