<div id="container" style="width:30%">
<h3>Editieren</h3>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :first_name, "Vorame" %><br>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :surname, "Nachname" %><br>
    <%= f.text_field :surname %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :admin, "Rechte" %><br>
    <%= f.select :admin, options_for_select([["Admin",true],["Normaler User", false]]) %>
  </div>

  <div class="actions">
    <%= f.submit "übernehmen" %>
  </div>
<% end %>

</div>
