<div id="container" >


<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>email</th>
      </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
        <tr style="padding-right:10px">
          <td style="padding-right:10px"><%= user.full_name %></td>
          <td style="padding-right:10px"><%= user.email %></td>
          <td style="padding-right:25px"><%= link_to user do %>
          <i style="opacity: 0.5;" class="fa fa-eye"></i><% end %></td>

          <td style="padding-right:25px"><%= link_to edit_user_path(user) do %>
          <i style="opacity: 0.5;" class="fa fa-edit"></i><% end %></td>

          <td style="padding-right:25px"><%= link_to user, method: :delete, data: { confirm: 'Sind sie Sicher?' } do %>
          <i style="opacity: 0.5;" class="fa fa-trash"></i><% end %></td>


        </tr>
    <% end %>
    </tbody>
  </table>



</div>
