<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <div id="form_border">
      <u><strong>Details</strong></br></u>
      </br>
    <%= f.label :name, "Name: " %> <%= f.text_field :name %>
    <%= f.label :type_of_contact, "Art: " %><%= f.select :type_of_contact, ["Klinik", "Praxis"] %>
  </div>
  </div>

  <div class="field">
    <div id="form_border">
      <u><strong>Adresse</strong></br></u>
      </br>

    <%= f.label :postalcode, "PLZ: " %> <%= f.text_field :postalcode %>     <%= f.label :name_of_town ,"Stadt: " %> <%= f.text_field :name_of_town %></br>
    <%= f.label :name_of_street, "Strasse: " %> <%= f.text_field :name_of_street %>     <%= f.label :adv_street ,"Adresszusatz: " %> <%= f.text_field :adv_street %>

  </div>
</div>
  <div class="field">
    <div id="form_border">
    <u><strong>Korrespondenz</strong></br></u>
    </br>
    <%= f.label :phone, "Telefon: " %> <%= f.text_field :phone %> <%= f.label :fax ,"Fax: " %> <%= f.text_field :fax %></br>
    <%= f.label :email ,"Email: " %> <%= f.text_field :email %>   <%= f.label :webaddress ,"Internetseite: " %> <%= f.text_field :webaddress %>
      </div>
   </div>

  <div class="field">
    <div id="form_border">
      <u><strong>Infotext</strong></br></u>
      </br>
  <%= f.text_area :description,size: "60x5"  %><br>

  <hr class="style-eight">
 <div class="field">
   <div id="form_border">
   <%= f.label :alt_postalcode, "PLZ: " %> <%= f.text_field :alt_postalcode %> <%= f.label :alt_town ,"Stadt: " %> <%= f.text_field :alt_town %></br>
   <%= f.label :alt_street, "Strasse: " %> <%= f.text_field :alt_street %> <%= f.label :alt_adv_street ,"Adresszusatz: " %> <%= f.text_field :alt_adv_street %>
 </div>
</div>


  <div class="actions">
    <%= f.submit "Kontakt erstellen"%>
  </div>
</div>
<% end %>
