<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= @contact.errors.count %> Fehler verhindern das Speichern:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <div id="form_border">
      <u><strong>Details</strong></br></u>
      </br>
      <table>
        <tbody>
      <td style="width:70px"><%= f.label :contact_name, "Name: " %> </td> <td style="padding-right: 10px"><%= f.text_field :contact_name %></td>
      <td style="width:70px"> <%= f.label :type_of_contact, "Art: " %></td> <td style="padding-right: 10px"><%= f.select :type_of_contact, ["Klinik", "Praxis"] %></td>
    </tbody>
  </table>
  </div>
  </div>

  <div class="field">
    <div id="form_border">
      <u><strong>Adresse</strong></br></u>
      </br>
      <table>
        <tbody>
    <td style="width:70px"> <%= f.label :postalcode, "PLZ: " %></td> <td style="padding-right: 10px"><%= f.text_field :postalcode %></td>
    <td style="width:70px"> <%= f.label :name_of_town ,"Stadt: " %></td> <td style="padding-right: 10px"><%= f.text_field :name_of_town %></td>
    <td></td>
    <tr>
    </tr>
    <td style="padding-right: 10px"><%= f.label :name_of_street, "Strasse: " %> </td> <td style="padding-right: 10px">  <%= f.text_field :name_of_street %></td>
    <td style="padding-right: 10px"><%= f.label :adv_street ,"Adresszusatz: " %> </td> <td style="padding-right: 10px">  <%= f.text_field :adv_street %></td>

        </tbody>
      </table>
  </div>
</div>

  <div class="field">
    <div id="form_border">
    <u><strong>Korrespondenz</strong></br></u>
    </br>
    <table>
      <tbody>
    <td style="width:70px"><%= f.label :phone, "Telefon: " %> </td> <td style="padding-right: 10px"><%= f.text_field :phone %></td>
    <td style="width:70px"><%= f.label :fax ,"Fax: " %> </td> <td style="padding-right: 10px"><%= f.text_field :fax %></td>
    <tr>
    </tr>
    <td style="padding-right: 10px"><%= f.label :email ,"Email: " %> </td> <td style="padding-right: 10px"><%= f.text_field :email %></td>
    <td style="padding-right: 10px"><%= f.label :webaddress ,"Internetseite: " %> </td> <td style="padding-right: 10px"><%= f.text_field :webaddress %></td>
      </tbody>
    </table>

      </div>
   </div>

  <div class="field">
    <div id="form_border">
      <u><strong>Infotext</strong></br></u>
      </br>
  <%= f.text_area :description,size: "60x5"  %><br>

  <hr class="style-eight">
 <div class="field">
     <table>
       <tbody>
   <td style="width:70px"><%= f.label :alt_postalcode, "PLZ: " %> </td> <td style="padding-right: 10px"><%= f.text_field :alt_postalcode %></td>
   <td style="width:70px"><%= f.label :alt_town ,"Stadt: " %> </td> <td style="padding-right: 10px"><%= f.text_field :alt_town %></td>
   <tr>
   </tr>
   <td style="padding-right: 10px"><%= f.label :alt_street, "Strasse: " %> </td> <td style="padding-right: 10px"><%= f.text_field :alt_street %> </td>
   <td style="padding-right: 10px"><%= f.label :alt_adv_street ,"Adresszusatz: " %> </td> <td style="padding-right: 10px"><%= f.text_field :alt_adv_street %></td>
      </tbody>
    </table>
 </div>


  <div class="actions">
    <%= f.submit "Kontakt erstellen"%>
  </div>
</div>
<% end %>
