<div style="text-align:center; margin:25px 0 25px 0; font-weight: bold;">
<%= link_to "neuen Termin erstellen","meetings/new", :class => "btn btn-success" %>
<%= link_to "neuen Kontakt erstellen","contacts/new", :class => "btn btn-success" %>
</div>

<div id="contacts">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
  <% if date.day == Date.today.strftime("%D") %>
  <div style="background-color:red" ><%= date.day %> </div>
  <%else %>
  <%= date.day %>
  <% end %>
    <% if @meetings_by_date[date] %>
      <ul style="list-style:none; padding 0">
        <% @meetings_by_date[date].each do |meeting| %>
        <% if current_user.admin? %>
        <% if !meeting.completed_at.blank? || Time.now.to_formatted_s(:number) > meeting.date.to_formatted_s(:number) %>
          <strike><li style="Opacity:0.4">[<%= meeting.time_of_meeting %>] <%= link_to meeting.name, meeting %></li></strike>
        <% elsif !meeting.contactpsn.nil? %>
          <li>[<%= meeting.time_of_meeting %>] <%= link_to meeting.name, meeting %></li>
        <% else %>
         <li><%= link_to "Kein Teilnehmer für diesen Termin vergeben", edit_meeting_path(meeting) %></li>
        <% end %>
        <% end %>
      <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
