

<div id="container" >
<h3 center>Willkommen</h3>

<div style="text-align:center; margin:25px 0 25px 0; font-weight: bold;">
<%= link_to "neuen Termin erstellen","meetings/new", :class => "btn btn-success" %>
<%= link_to "neuen Kontakt erstellen","contacts/new", :class => "btn btn-success" %>
</div>

<div id="contacts">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @meetings_by_date[date] %>
      <ul>
        <% @meetings_by_date[date].each do |meeting| %>
        <% if !meeting.contactpsn.nil? %>
          <li><%= link_to meeting.name, meeting %></li>
        <% else %>
         <li><%= link_to "Kein Teilnehmer für diesen Termin vergeben", edit_meeting_path(meeting) %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<br>
<br>

<div id="tables">
<table style="width:100%; table-layout:fixed; font-size:11px;">
  <thead >
    <tr>
    <th>Nächste Termine(7 Tage)</th>
    <th>Zeit bis zum Termin</th>
    <th>Kontakt</th>
    <th style="width:100px">Datum</th>
    </tr>
  </thead>

  <tbody >
<% @meetings_next_7_days.each do |meeting| %>
  <tr >
    <td><%= meeting.name %></td>
    <td><%= meeting.remaining_time  %></td>
    <% if meeting.contactpsn.nil? %>
    <td ><%= "!nicht vergeben!" %></td>
   <% else %>
    <td><%= meeting.contactpsn.contact.name %></td>
    <% end %>
    <td><%= meeting.date.strftime("%d.%m. %Y") %></td>
  </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<br>

<div id="tables" >
<table style="font-size:10px;">
  <thead >
    <tr>
    <th colspan="3">Wiedervorlagen</th>
    <th style="width: 60px">Zeit bis zur Vorlage</th>
    <th style="width: 60px">Kontakt</th>
    <th style="width: 60px">Datum</th>
    </tr>
  </thead>

  <tbody style="text-align: center;">
<% @meetings_next_30_days.each do |meeting| %>
  <tr >

    <td style="box-shadow: inset 0px 0px 0px 1px grey; width: 5%;"><%= link_to edit_meeting_path(meeting) do  %>
    <i style=" color:green; vertical-align:baseline;" class="fa fa-check"></i><% end %></td>

    <td style="box-shadow: inset 0px 0px 0px 1px grey; width: 25%"><%= meeting.name %></td>

    <td style="box-shadow: inset 0px 0px 0px 1px grey;width: 5%"><%= link_to edit_meeting_path(meeting) do  %>
      <i style="color:blue;" class="fa fa-pencil"></i><% end %></td>

    <td style="width: 20%"><%= meeting.remaining_time  %></td>

    <% if meeting.contactpsn.nil? %>
    <td ><%= "!nicht vergeben!" %></td>
   <% else %>
    <td style="width: 25%"><%= meeting.contactpsn.contact.name %></td>
    <% end %>
    <td style="width: 10%"><%= meeting.date.strftime("%d.%m. %Y") %></td>
  </tr>
    <% end %>
  </tbody>
  <% will_paginate @meetings_next_30_days %>
</table>

</div>


</div>
