

<div id="container" >
<h3 center>Willkommen</h3>



<h5 class="button" type="btn btn-default" ><%= link_to " neuen Termin erstellen", "meetings/new" %></h5><h5 class="button" type="btn btn-default" ><%= link_to "Alle Meetings einsehen", meetings_path %></h5>


<div id="contacts">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @meetings_by_date[date] %>
      <ul>
        <% @meetings_by_date[date].each do |meeting| %>
        <% if !meeting.contactpsn.nil? %>
          <li><%= link_to meeting.name, meeting %></li>
        <% else %>
         <li><%= "Kein Teilnehmer für diesen Termin vergeben" %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>


</div>
