<%= link_to 'Zurück zum Dashboard', home_path, :class => "btn btn-default" %>
</br>
<br>
<div id="tables" style="font-size:3">
<table>
  <thead>
    <td style="text-align:center; background-color:silver;"><%= link_to '+Kontaktperson', new_contact_contactpsn_path, :class => "btn btn-success" %></td>
  </thead>
  <tbody>
    <tr>

  <%= search_form_for [@contact,@q] do |f| %>

  <td style="text-align:left; background-color:silver;">
          <div style="text-align:center; background-color:silver;">  <%= f.label :last_name_or_business_rel_or_user_surname_cont, "Suche nach Nachnamen/Kategorie" %>
      <%= f.search_field :last_name_or_business_rel_or_user_surname_cont %></br>
      <%= "und/oder"%></br>
          <div style="text-align:center; background-color:silver;">  <%= f.label :user_surname_or_user_first_name_cont, "Suche nach Namen der Ersteller" %>
      <%= f.search_field :user_surname_or_user_first_name_cont %>

      <div style="text-align:center; background-color:silver;">
      <%= f.submit "Suchen", :class => "btn btn-success"  %></td>

      <% end %>
    </tr>
  </tbody>
</table>

<br>
<%= will_paginate @contactpsns, previous_label: h("<"), next_label: h(">"), renderer: BootstrapPagination::Rails %>

<table>
  <thead>
    <tr>
      <th ><%= sort_link(@q,:last_name, "Name")%></th>
      <th ><%= sort_link(@q,:business_rel, "Kategorie") %></th>
      <th ><%= "Telefon" %></th>
      <th ><%= "erstellt von" %></th>
      <th colspan="4">Operationen</th>
    </tr>
  </thead>

  <tbody>
    <% @contactpsns.each do |contactpsn| %>
    <% if !contactpsn.contact.nil? %>
    <!-- <% if @contact.contact_name == contactpsn.contact.contact_name && current_user == contactpsn.user %>
    <% end %> -->
      <tr>
        <% if contactpsn.first_name.blank? %>
        <td align="center" > _ n.a. _ <%= contactpsn.last_name %></td>
        <% else %>
        <td align="center" ><%= contactpsn.full_name %></td>
        <% end %>
        <td align="center" ><%= contactpsn.business_rel %></td>
        <% if !contactpsn.phone_one.blank? %>
        <td align="center" ><%= "nicht hinterlegt" %></td>
        <% else %>
        <td align="center" ><%= contactpsn.phone_one %></td>
        <% end %>
        <td align="center" ><%= contactpsn.user.full_name %></td>
        <td align="center" colspan="1"><%= link_to "+Meeting" , new_meeting_path,  :class => "btn btn-success"  %></td>
        <td align="center" colspan="1"><%= link_to contact_contactpsn_path(@contact, contactpsn) do %>
            <i style="opacity: 0.8;color:black" class="fa fa-eye"></i><% end %></td>

        <!-- Edit Button Condition -->
        <% if current_user == contactpsn.user || current_user.admin? %>
        <td align="center" colspan="1"><%= link_to edit_contact_contactpsn_path(@contact, contactpsn) do %>
            <i style="opacity: 0.8;color:black"  class="fa fa-edit"></i><% end %></td>
        <% else %>
        <td align="center" colspan="1"><%= %>
            <i style="opacity: 0.3; color:black" class="fa fa-edit"></i></td>
         <% end %>
        <!-- Delete Button Condition -->
        <% if current_user.admin? %>
        <td align="center" colspan="1"><%= link_to contact_contactpsn_path(@contact, contactpsn), method: :delete, data: { confirm: 'Sind sie Sicher?' } do %>
            <i style="opacity: 0.8;color:black" class="fa fa-trash"></i><% end %></td>
        <% else %>
        <td align="center" colspan="1"><%= %>
            <i style="opacity: 0.3;color:black" class="fa fa-trash"></i></td>
      </tr>
       <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
</br>
<%= link_to 'Zurück zum Dashboard', home_path, :class => "btn btn-default" %>
|
<%= link_to 'Zurück', contacts_path, :class => "btn btn-default" %>
</div>
