<%= link_to 'Zurück zum Dashboard', home_path, :class => "btn btn-default" %>
</br>
<br>
<div id="tables" style="font-size:3">
<table>
  <thead>
    <td style="text-align:center; background-color:silver;"><%= link_to '+Kontaktperson', new_contact_contactpsn_path, :class => "btn btn-success" %></td>
  </thead>
  <tbody>
    <tr>

  <%= search_form_for([@contact,@search]) do |f| %>

  <td style="text-align:center; background-color:silver;">
      <%= f.label :last_name_or_business_rel_cont, "Suche nach Nachnamen/Kategorie" %>
      <%= f.text_field :last_name_or_business_rel_cont %>

      <%= f.submit "Suchen", :class => "btn btn-success"  %></td>

      <% end %>
    </tr>
  </tbody>
</table>

<br>
<%= will_paginate @contactpsns, previous_label: h("<"), next_label: h(">"), renderer: BootstrapPagination::Rails %>

<table>
  <thead>
    <tr>
      <th ><%= sort_link(@search,:last_name, "Name")%></th>
      <th ><%= sort_link(@search,:business_rel, "Kategorie") %></th>
      <th ><%= "Telefon" %></th>
      <th ><%= "FAX" %></th>
      <th colspan="4">Operationen</th>
    </tr>
  </thead>

  <tbody>
    <% @contactpsns.each do |contactpsn| %>
    <% if !contactpsn.contact.nil? %>
    <% if @contact.name == contactpsn.contact.name && current_user == contactpsn.user %>
      <tr>
        <td align="center" ><%= contactpsn.full_name %></td>
        <td align="center" ><%= contactpsn.business_rel %></td>
        <td align="center" ><%= contactpsn.phone_one %></td>
        <td align="center" ><%= contactpsn.fax %></td>
        <td align="center" colspan="1"><%= link_to "+Meeting" , new_meeting_path,  :class => "btn btn-success"  %></td>
        <td align="center" colspan="1"><%= link_to contact_contactpsn_path(@contact, contactpsn) do %>
            <i style="opacity: 0.5;" class="fa fa-eye"></i><% end %></td>

        <td align="center" colspan="1"><%= link_to edit_contact_contactpsn_path(@contact, contactpsn) do %>
            <i style="opacity: 0.5;" class="fa fa-edit"></i><% end %></td>

        <td align="center" colspan="1"><%= link_to contact_contactpsn_path(@contact, contactpsn), method: :delete, data: { confirm: 'Sind sie Sicher?' } do %>
            <i style="opacity: 0.5;" class="fa fa-trash"></i><% end %></td>
      </tr>
      <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>
</br>
<%= link_to 'Zurück zum Dashboard', home_path, :class => "btn btn-default" %>
|
<%= link_to 'Zurück', contacts_path, :class => "btn btn-default" %>
</div>
