<%= form_for([@contact, @contactpsn]) do |f| %>
  <% if @contactpsn.errors.any? %>
  <br>
    <div id="error_explanation">
      <h2><%= @contactpsn.errors.count %> Fehler verhindern das Speichern:</h2>

      <ul>
      <% @contactpsn.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div id="form_border">
      <u><strong>Details</strong></br></u>
      </br>
      <table>
        <tbody>
    <%= f.label :call, "Anrede: " %> <%= f.select :call, ["Frau", "Herr"] %> <%= f.label :position, "Position: " %>  <%= f.select :position, ["CEO", "Abteilungsleiter IT"] %> <br><%= f.label :Abteilung, "Abteilung: " %><%= f.select :department, ["Controlling", "IT", "Rechnungswesen", "Wareneingang", "Führung"] %>

    <td style="width:70px"><%= f.label :first_name, "Vorname: " %> </td> <td style="padding-right: 10px"><%= f.text_field :first_name %> </td>
    <td style="width:70px"><%= f.label :last_name, "Nachname*: "%> </td> <td style="padding-right: 10px"><%= f.text_field :last_name %></td>
      </tbody>
    </table>
  </div>
</div>
  <div class="field">
    <div id="form_border">
      <u><strong>Korrespondenz</strong></br></u>
      </br>
      <table>
        <tbody>
    <td style="width:70px"><%= f.label :phone_one, "Telefon*" %></td> <td style="padding-right: 10px"><%= f.text_field :phone_one %></td>
    <td style="width:70px"><%= f.label :phone_two ,"Telefon 2" %> </td> <td style="padding-right: 10px"><%= f.text_field :phone_two %></td>
    <tr>
    </tr>
    <td style="padding-right: 10px"><%=f.label :email, "Email*" %></td> <td style="padding-right: 10px"><%= f.text_field :email %></td>
    <td style="padding-right: 10px"><%= f.label :fax ,"Fax" %></td> <td style="padding-right: 10px"><%= f.text_field :fax %></td>
      </tbody>
    </table>
  </div>
</div>
  <div class="field">
    <div id="form_border">
      <u><strong>Firmenbezug</strong></br></u>
    </br>
    <table>
      <tbody>
    <td style="width:170px"><%= f.label :business_rel, "Jet" %><%= f.radio_button :business_rel, "Jet" %> </td>
    <td style="width:170px"><%= f.label :business_rel, "Klinik" %><%= f.radio_button :business_rel, "Klinik"%> </td>
    <td style="width:170px"><%= f.label :business_rel, "Homecare"%><%= f.radio_button :business_rel, "Homecare" %></td>
  </tbody>
</table>
  </div>
</div>


  <div class="field">
    <div id="form_border">
      <u><strong>Infotext</strong></br></u>
      </br>
  <%= f.text_area :description,size: "60x5"  %><br>

  <hr class="style-eight">
  <div class="field">
      <table>
        <tbody>
    <td style="width:70px"><%= f.label :alt_postalcode, "PLZ: " %> </td> <td style="padding-right: 10px"><%= f.text_field :alt_postalcode %></td>
    <td style="width:70px"><%= f.label :alt_town ,"Stadt: " %> </td> <td style="padding-right: 10px"><%= f.text_field :alt_town %></td>
    <tr>
    </tr>
    <td style="padding-right: 10px"><%= f.label :alt_street, "Strasse: " %> </td> <td style="padding-right: 10px"><%= f.text_field :alt_street %> </td>
    <td style="padding-right: 10px"><%= f.label :alt_adv_street ,"Adresszusatz: " %> </td> <td style="padding-right: 10px"><%= f.text_field :alt_adv_street %></td>
       </tbody>
     </table>
  </div>
</div>
<div class="actions" style="text-align:center">
  <%= f.submit "Kontaktperson erstellen", :class => "btn btn-success" %>
</div>

<% end %>
