<div id="container" >
<h1>Detailtabelle für alle Kontaktpersonen</h1>

<table id="histories" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Kontaktperson</th>
      <th>Kontakt</th>
      <th>Erstellt von</th>
      <th>Erstelldatum</th>
    </tr>
  </thead>

<tbody>
    <% @contactpsns.each do |contactpsn| %>
      <tr>
        <td ><%= contactpsn.full_name %></td>
        <% if contactpsn.contact.blank? %>
        <td ><%= "..nicht vergeben.." %></td>
       <% else %>
        <td ><%= contactpsn.contact.contact_name %></td>
        <% end %>
        <td ><%= contactpsn.user.full_name %></td>
        <td ><%= contactpsn.created_at.strftime("[%d.%m.%y] um [%H:%M:%S]") %></td>
      </tr>
<% end %>


  </tbody>
</table>

<br>

<%= link_to 'Zurück zum Dashboard', home_path, :class => "btn btn-default" %>
</div>
