<div id="container" >
<p id="notice"><%= notice %></p>

<h1>Alle Kontaktpersonen für <%= @contact.name %></h1>

<!-- Searchfield für Substring Suche >3 Zeichen -->
<%= form_tag contact_contactpsns_path, :method => :get do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "suchen", :name => nil%>
<!-- Button für neue Kontakte -->
<%= link_to 'Neue Kontaktperson', new_contact_contactpsn_path, :class => "btn btn-default" %>
<% end %>
<!-- Table für Kontakte -->
<!-- Table für Kontakte -->
<table id="contactpsns" class="display" >
  <thead>
    <tr>
      <th >Name</th>
      <th >Kategorie</th>
      <th ></th>
      <th ></th>
      <th ></th>
    </tr>
  </thead>

  <tbody >
    <% @contactpsns.each do |contactpsn| %>
    <% if current_user == contactpsn.user %>
      <tr>
        <td ><%= contactpsn.full_name %></td>
        <td ><%= contactpsn.business_rel %></td>
        <td ></td>
        <td ></td>
        <td ></td>


      <% end %>
    <% end %>
   </tr>
  </tbody>
</table>
<br>

<%= link_to 'Zurück zum Dashboard', home_path %>
</div>
